:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --dark-bg-color: #2F303A
    
  }
  /* Global Style */
  body{
    color: var(--primary-text-color);
    font-family:"Roboto", sans-serif;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: 700;
  }
  
  ul {
    list-style: none;
  }
  
  .link{
    text-decoration: none;
    color: inherit;
  }
  .link:hover,
  .link:focus,{
    color: var(--accent-text-color);
  }
  .link:active{
    color:rgb(228, 101, 228)
  }

  .link-contact{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  }
  
  .button{
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    font-weight: 500;
  }
  
  /* Navigation header */
  .link-nav a{
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  .page-current{
    color:var(--accent-text-color) ;
  }
  
  .logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text-color);
  }
  
  .footer-logo{
    color: var(--accent-text-color) ;
  }
  
    .address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff; 
  } 