/* Студия */
.dark-bg{
  background-color: var(--dark-bg-color);
}

.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/*Кнопка Заказать услугу */
.main-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #2196F3;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus{
color: #188CE8;
}

/* Секция преимущества */
.advantages{
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
}
.page-text{
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--secondary-text-color);
}

/*Секция Чем мы занимаемся/Наша команда */
.page-title{
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-size: 36px;
}
.foto-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em; 
}
.foto-caption{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Потрфолио */
/* Секция Проекты */
h2{
  font-size: 18px;
}
.caption-foto{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}